#circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: tomato;
    border-width: 4px;
  
}
#nav{
    height: 50px;
   text-transform: capitalize;
    border-width: 3px;
    border-style: solid;
    border-color: wheat;
    background-color: black;
    color: gold;
}
button{
    background-color: gold;
    font-weight: bold;
}
a{
    text-decoration: none;
}