div{
    background-color: black;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    
}
a{
    color: gold;
    display: inline;
 
}
#outer{
    height:400px;
    width:400px;
    background-color:skyblue;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inner{
    height:200px;
    width: 200px;
    background-color: gold;
    border: 2px solid black;
    
   
}