* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    height: 50px;
    background-image: url("amazon_logo.png");
    width: 100%;
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.add-icon {
    display: flex;
    align-items: center;
}

.add-first {
    font-size: 0.85rem;
    font-weight: lighter;
    color: #cccccc;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    margin-left: 3px;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: gold;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    /* margin-left: 5px; */
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    padding-left: 5px;
    text-align: center;
    border-radius: 4px 0px 0px 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faa83e;
    border-radius: 0px 4px 4px 0px;
    color: #0F1111;
}

.nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
}

span {
    font-size: 0.7rem;
}

.nav-cart i {
    font-size: 30px;

}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel {
    height: 39px;
    background-color: #222F3D;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-options p {
    display: inline;
    margin-left: 15px;
}

.panel-options {
    width: 70%;
    font-size: 0.85rem;
}

.panel-all {
    font-size: 1rem;
    font-weight: 700;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section {
    background-image: url("hero_image.jpg");
    height: 380px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 96%;
    margin-bottom: 25px;
}

.hero-message a {
    color: #007185;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E2E7E6;
}

.box {
    height: 300px;
    border: 2px solid black;
    width: 23%;
    background-color: white;
    border: none;
    padding: 20px 0px 15px;
    margin-top: 27px;
}

.box1image {

    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}

.foot-panel2 {
    background-color: #222F3D;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222F3D;
    color: white;
    border-top: 0.5px solid white;
    background-image: url("amazon_logo.png");
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100px;

}
.foot-panel4{
    background-color: #0F1111;
    color: white;
    height:80px;
    font-size: 0.75rem;
    text-align: center;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.pages{

padding-top: 25px;
}
.copyright{
  
    text-align: center;
    
}